#home-container {
    width: 100%;
    min-height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#main-home {
    width: 100%;
}

#hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero article {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 50px;
}

#hero h2 {
    font-size: 3.3em;
    color: var(--primary-accent);
    margin-bottom: .25em;
}

#hero p {
    width: 250px;
    line-height: 1.25em;
    color: var(--light-text);
    text-align: justify;
}

#hero img {
    width: 400px;
    transform: rotate3d(0, 1, 0, 180deg);
}

.projects-container {
    position: relative;
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secundary-bg);
    margin: 0;
    padding: 25px 0 50px;
    margin-bottom: 50px;
}

.projects-container::before {
    position: absolute;
    min-width: 100%;
    height: 100px;
    top: -99px;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    background-color: var(--secundary-bg);
    content: "";
}

.projects-container::after {
    position: absolute;
    min-width: 100%;
    height: 100px;
    bottom: -100px;
    clip-path:polygon(0 0, 100% 0, 50% 100%);
    background-color: var(--secundary-bg);
    content: "";
}

.projects {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 50px;
    grid-auto-rows: 300px;
    gap: 50px;
    padding: 50px;
}

.projects h2 {
    grid-area: span 1 / span 3;
}

@media (max-width: 1175px) {
    .projects {
        grid-template-columns: repeat(2, 350px);
    }

    .projects h2 {
        grid-area: span 1 / span 2;
    }
}

@media (max-width: 775px) {
    #hero {
        flex-wrap: wrap;
    }

    #hero article {
        margin-top: 50px;
        margin-right: 0;
    }

    .projects {
        grid-template-columns: repeat(1, 350px);
    }

    .projects h2 {
        grid-area: span 1 / span 1;
    }
}
