:root {
  --primary-bg: #153041;
  --secundary-bg: #A1CBE6;
  --primary-accent: #E08300;
  --secundary-accent: #008AE0;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--primary-bg);
}
